---
import MainLayout from "../layouts/MainLayout.astro";
import bottle from "../assets/images/bottle.webp";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import dankort from "../assets/images/danskcard.svg";
import visa from "../assets/images/visacard.svg";
import master from "../assets/images/mastercard.svg";
import mobilepay from "../assets/images/mobilepay.svg";
import { Image } from "astro:assets";
---

<MainLayout title="Støt os">
  <section class="w-full object-cover bg-cover" style={`background-image: url(${bottle.src});`}>
    <div class="w-full px-6 bg-black/40">
      <div class="pb-6 md:max-w-7xl grid grid-cols-1 gap-4 mx-auto md:gap-16 lg:py-40 lg:grid-cols-2">
        <div class="pt-20 md:pt-0 pb-2 flex flex-col justify-center">
          <h1 class="text-[#FAFAFA] text-shadow">STØT OS <br /> Beskyt vores verden</h1>
          <h2 class="text-[#FAFAFA] text-shadow">Mod plastikforurening handl nu!</h2>
        </div>

        <div id="Stodt" class="bg-[#FAFAFA] w-full mx-auto rounded-lg md:rounded-2xl">
          <div class="p-4 md:pt-10 md:pl-10 md:pr-10">
            <h3 class="font-bold pb-4">DIT BIDRAG GØR EN FORSKEL</h3>

            <form class="space-y-2 grid grid-cols-1 w-full">
              <div class="max-w-2xl flex flex-col gap-6">
                <div class="flex flex-col gap-4 md:flex-row md:gap-20 md:items-center font-semibold">
                  <div>
                    <input type="radio" id="enkelt" name="betailing" checked="checked" />
                    <label for="enkelt">Enkelt donation</label>
                  </div>
                  <div>
                    <input type="radio" id="monthly" name="betailing" />
                    <label for="monthly">Månedlig donation</label>
                  </div>
                </div>

                <div class="flex flex-col flex-wrap gap-4 md:justify-between md:flex-row">
                  <button
                    class="border-2 border-[#CACDD5] shadow-md hover:bg-[#FF1054] hover:text-[#FAFAFA] py-3 px-10 rounded-md font-bold font-kanit text-lg transition transform hover:-translate-y-1"
                    >100 DKK</button
                  >
                  <button
                    class="border-2 border-[#CACDD5] shadow-md hover:bg-[#FF1054] hover:text-[#FAFAFA] py-3 px-10 rounded-md font-bold font-kanit text-lg transition transform hover:-translate-y-1"
                    >200 DKK</button
                  >
                  <button
                    class="border-2 border-[#CACDD5] shadow-md hover:bg-[#FF1054] hover:text-[#FAFAFA] py-3 px-10 rounded-md font-bold font-kanit text-lg transition transform hover:-translate-y-1"
                    >300 DKK</button
                  >
                </div>
                <div class="w-full flex flex-col flex-wrap font-bold font-kanit text-xl text-[#1C1E23]">
                  <label for="Valgfritbeløb"></label>
                  <input
                    type="text"
                    id="Valgfritbeløb"
                    name="Valgfritbeløb"
                    placeholder="Angiv et ønsket beløb i DKK"
                    class="border-2 border-[#CACDD5] shadow-md rounded-md p-3 text-center text-lg text-[#CACDD5] w-full"
                  />
                </div>

                <div class="flex justify-center pt-2 pb-4">
                  <Button variant="primary" size="medium">Støt</Button>
                </div>
              </div>
            </form>
          </div>

          <div class="w-full h-auto items-center justify-center bg-[#CACDD5] rounded-b-xl flex flex-wrap md:grid md:grid-cols-2 md:pt-4">
            <div class="flex flex-wrap items-center py-8 justify-center mx-auto md:border-r-2 md:border-r-[#A3A6B4]">
              <Image src={visa} alt="visacard" class="w-[75px]" />
              <Image src={master} alt="visacard" class="w-[75px]" />
              <Image src={dankort} alt="visacard" class="w-[75px]" />
              <div class="w-full flex justify-center items-center mt-2">
                <h3 class="font-bold font-kanit text-lg">Betailingskort</h3>
              </div>
            </div>
            <div class="flex flex-wrap items-center py-8 justify-center">
              <Image src={mobilepay} alt="visacard" class="w-20" />
              <div class="w-full flex justify-center items-center mt-2">
                <h3 class="font-bold font-kanit text-lg">Mobilepay</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
